[submodule "data"]
	path = archive/input-data
	url = git@github.com:katjabercic/Lean-HoG-data.git
[submodule "process_io"]
	path = archive/process_io
	url = https://github.com/cilinder/process_io.git
