*.olean
/_target
/leanpkg.path
/src/hog/data
/convert/__pycache__
data/build
/lake-packages/*
data/hog-000-008-inv.txt
data/hog-009-011-inv.txt
data/hog-012-019-inv.txt
data/hog-020-021-inv.txt
data/hog-022-inv.txt
data/hog-023-inv.txt
data/hog-024-inv.txt
data/hog-025-026-inv.txt
data/hog-027-inv.txt
data/hog-028-inv.txt
data/hog-029-inv.txt
data/hog-030-nonregular-1-inv.txt
data/hog-030-nonregular-2-inv.txt
data/hog-030-regular-inv.txt
data/hog-031-033-inv.txt
data/hog-034-inv.txt
data/hog-035-041-inv.txt
data/hog-042-043-inv.txt
data/hog-044-049-inv.txt
data/hog-050-099-inv.txt
data/hog-100-149-inv.txt
data/hog-150-189-inv.txt
data/hog-190-209-inv.txt
data/hog-210--inv.txt
build